.hero_img_macro {
  display: none;
}
.hero_p_macro {
  display: none;
}

.hero_macro {
  text-align: center;
  background-color: rgb(248, 241, 233);
  padding: 30px 0;
}
.title_macro {
  font-size: 30px;
}
.menu_macro {
  display: flex;
  justify-content: center;
  .link_macro {
    padding: 4px;
    color: $color-secundary;
    font-size: 1.3em;
    &:hover {
      background-color: $color-primary;
      color: white;
      border-radius: 0.8em;
    }
  }
}

.macro_card_1,
.macro_card_2,
.macro_card_3 {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    margin: 3px 60px;
    text-align: center;
  }
}
#title_grasa,
#title_prote,
#title_carbo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 70px;
  text-align: center;
  color: white;
  margin: 0 0 35px 0;
}

#title_grasa {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.651),
      rgba(249, 250, 249, 0.74)
    ),
    url(https://media.istockphoto.com/id/1133428350/es/foto/selecci%C3%B3n-de-grasas-no-saturadas-saludables-omega-3-pescado-aguacate-aceitunas-nueces-y.jpg?s=612x612&w=0&k=20&c=nrfdEUnHuXFry678l_W7_SbdjpMXhx5BobYzC9zMXsU=);
}
#title_prote {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.651),
      rgba(249, 250, 249, 0.74)
    ),
    url(https://i.blogs.es/792391/alimentos-ricos-proteinas-vitonica/450_1000.webp);
}

#title_carbo {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.651),
      rgba(249, 250, 249, 0.74)
    ),
    url(https://medlineplus.gov/images/Carbohydrates_share.jpg);
}

@media (min-width: 900px) {
  .hero_img_macro {
    display: block;
  }
  .hero_p_macro {
    padding: 5px 60px;
    display: block;
  }
  .grid-container-macro {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-areas:
      "inicio derecha"
      "inicio derecha";
  }

  .inicio-macro {
    grid-area: inicio;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .derecha-macro {
    grid-area: derecha;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
  }
  .title_macro {
    font-size: 3em;
    text-align: start;
  }
}

.link_macro {
  padding: 4px;
  color: $color-secundary;
  font-size: 1.3em;

  &:hover {
    background-color: $color-primary;
    color: white;
    border-radius: 0.8em;
  }
}

.hero_micro {
  text-align: center;
  background-color: rgb(248, 241, 233);
  padding: 40px 0 40px 0;
}
.hero_img_micro,
.hero_p_micro {
  display: none;
}

a {
  text-decoration: none;
}
.title_micro {
  padding-bottom: 20px;
}

.minerales-oligoelementos,
.vitamina {
  text-align: center;
  padding: 0, 70px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    margin: 3px 60px;
    text-align: center;
  }
}

#vitamina,
#mineral {
  color: white;
  text-align: center;
  padding: 40px;
  margin: 30px 0;
}
#vitamina {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.651),
      rgba(249, 250, 249, 0.74)
    ),
    url(https://media.ladieteticabarcelona.com/blog/post-880-800x800.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#mineral {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.651),
      rgba(249, 250, 249, 0.74)
    ),
    url(https://alimentacionaliada.com/wp-content/uploads/2020/08/Minerales-y-oligoelementos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 900px) {
  .hero_img_micro {
    display: block;
    height: 80%;
  }
  .hero_p_micro {
    padding: 5px 20px;
    display: block;
  }
  .grid-container-micro {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-areas:
      "inicio derecha derecha"
      "inicio derecha derecha";
  }

  .inicio-micro {
    grid-area: inicio;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .derecha-micro {
    grid-area: derecha;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    ul li {
      padding: 10px 0 0 0;
    }
  }
  .title_micro {
    font-size: 4em;
    text-align: start;
  }
}
