* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}
h1 {
  font-size: 2.5em;
  font-family: "Rubik", sans-serif;
}
h2 {
  font-size: 1.7em;
  font-family: "Rubik", sans-serif;
}
p {
  font-size: 1em;
  font-family: "Bona Nova", serif;
}
ul {
  list-style: none;
  a {
    text-decoration: none;
    color: black;
    font-family: "Fira Sans", sans-serif;
  }
}
$color-primary: rgb(4, 161, 12);
$color-secundary: rgb(12, 143, 237);
$color-tercera: rgb(255, 140, 0);
.container {
  max-width: 1400px;
  margin: auto;
  p {
    margin: 0 50px;
  }
}
